main {
    font-family: var(--font2);
}
.articles li{
    list-style: disc;
}

h3{
    margin-top: 5px;
}

.content {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.content-right img {
    height: 217px;
}

.article-container {
    background-color: rgb(211, 102, 202);
    padding: 10px 15px;
    margin: 20px 0;
}

.article {
    display: flex;
    justify-content: center;
}

.img {
    display: flex;
    align-items: center;
    width: 320px;
    margin: 0 10px 0 0;
}

.img img {
    width: 300px;
}

.about{
    flex-direction: column;
    display: flex;
    align-items: center;
    
